/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1{
    font-size: 32px;
  }
  .heading h2 {
    font-size: 20px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }
  
  footer {
    text-align: center;
  }
  
  .btn {
    width: 100%;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
    visibility: visible;
  }
  
  .top-wrapper h1{
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p{
  font-size: 14px;
  line-height: 20px;
  }
  
  .header-right.responsive {position: relative;}
  .header-right.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header-right.responsive li {
    float: none;
    display: inline;
  }
  .header-right.responsive li a {
    display: block;
    text-align: left;
  }

}

